<allan.m.adair@gmail.com> <allan@rfspot.com>
Aron Bierbaum <aronbierbaum@gmail.com> aronbierbaum <aronbierbaum@b426a367-1105-0410-b9ff-cdf4ab011145>
Filipe Fernandes <ocefpaf@gmail.com>
Sean Gillies <sean.gillies@gmail.com>
Sean Gillies <sean.gillies@gmail.com> Sean Gillies <sean@mapbox.com>
Sean Gillies <sean.gillies@gmail.com> Sean C. Gillies <sean@mapbox.com>
Sean Gillies <sean.gillies@gmail.com> Sean Gillies <seang@krusty-2.local>
Sean Gillies <sean.gillies@gmail.com> seang <seang@b426a367-1105-0410-b9ff-cdf4ab011145>
Mike Taves <mwtoews@gmail.com>
Mike Taves <mwtoews@gmail.com> Mike Toews <mwtoews@debian.(none)>
Frédéric Junod <frederic.junod@camptocamp.com>
Kai Lautaportti <dokai@b426a367-1105-0410-b9ff-cdf4ab011145>
Kevin Wurster <wursterk@gmail.com>
Kevin Wurster <wursterk@gmail.com> Kevin Wurster <kevin@skytruth.org>
Kevin Wurster <wursterk@gmail.com> Kevin Wurster <geowurster@users.noreply.github.com>
Kevin Wurster <wursterk@gmail.com> Kevin Wurster <kevin.wurster@planet.com>
<kveretennicov@gmail.com> <kveretennicov+github@gmail.com>
Jonas Sølvsteen <j08lue@gmail.com>
Jonas Sølvsteen <j08lue@gmail.com> Jonas <j08lue@gmail.com>
James McBride <jmcbride@berkeley.edu>
James McBride <jmcbride@berkeley.edu> James McBride <jdmcbr@gmail.com>
James Hiebert <hiebert@uvic.ca>
James Hiebert <hiebert@uvic.ca> James Hiebert <james@hiebert.name>
Even Rouault <even.rouault@spatialys.com>
Even Rouault <even.rouault@spatialys.com> Even Rouault <even.rouault@mines-paris.org>
Brendan Ward <bcward@astutespruce.com>
Brendan Ward <bcward@astutespruce.com> Brendan Ward <brendan-ward@users.noreply.github.com>
Brendan Ward <bcward@astutespruce.com> Brendan Ward <brendan@Umpqua-MacBook-Pro.local>
Brendan Ward <bcward@astutespruce.com> Brendan Ward <bcward@astutespruce.com>
Brendan Ward <bcward@astutespruce.com> Brendan Ward <bcward@consbio.org>
Brendan Ward <bcward@astutespruce.com> brendan-ward <bcward@consbio.org>
Amit Kapadia <amit@planet.com>
Amit Kapadia <amit@planet.com> Amit Kapadia <akapad@gmail.com>
Matthew Perry <perrygeo@gmail.com>
Matthew Perry <perrygeo@gmail.com> Matthew Perry <perrygeo@users.noreply.github.com>
Vincent Sarago <vincent.sarago@gmail.com>
Vincent Sarago <vincent.sarago@gmail.com> vincentsarago <vincent.sarago@mapbox.com>
Tyler Erickson <tylere@google.com>
Tyler Erickson <tylere@google.com> Tyler Erickson <tylerickson@gmail.com>
Erik Seglem <erik.seglem@gmail.com>
Erik Seglem <erik.seglem@gmail.com> Erik Seglem <eseglem@users.noreply.github.com>
Kirill Kouzoubov <Kirill888@gmail.com>
Kirill Kouzoubov <Kirill888@gmail.com> Kirill Kouzoubov <kirill888@gmail.com>
Juan Luis Cano Rodríguez <juanlu001@gmail.com>
Juan Luis Cano Rodríguez <juanlu001@gmail.com> Juan Luis Cano Rodríguez <Juanlu001@users.noreply.github.com>
Colin Talbert <talbertc@usgs.gov>
Colin Talbert <talbertc@usgs.gov> <talbertc@usgs.gov>
cgohlke <cjgohlke@gmail.com>
cgohlke <cjgohlke@gmail.com> cgohlke <cgohlke@uci.edu>
