language: python
sudo: false
cache:
  directories:
    - ~/.cache/pip
env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
addons:
  apt:
    packages:
    - libgdal1h
    - gdal-bin
    - libgdal-dev
    - libatlas-dev
    - libatlas-base-dev
    - liblapack-dev
    - gfortran
    - libgmp-dev
    - libmpfr-dev
python:
  - "2.7"
  - "3.3"
  - "3.4"
before_install:
  - pip install -U pip
  - pip install wheel
install:
  - "pip wheel -r requirements-dev.txt"
  - "pip install -r requirements-dev.txt"
  - "pip install coveralls"
  - "pip install -e ."
script: 
  - py.test --cov rasterio --cov-report term-missing
after_success:
  - coveralls
before_deploy:
  - pip wheel --wheel-dir=/tmp/wheelhouse -r requirements-dev.txt
  - pip wheel --wheel-dir=/tmp/wheelhouse -r requirements.txt
  - pip wheel --wheel-dir=/tmp/wheelhouse .
  - tar -C /tmp -czvf rasterio-travis-wheels-$TRAVIS_PYTHON_VERSION.tar.gz wheelhouse
deploy:
  provider: releases
  api_key:
    secure: uP/hy8LRdDnN6XHSLChmKYdW9CdIy8pqvUyXFPgTDY/mlItMUdDNdP95bitzn/rNNXnOkCGsARqzRCLeGI3jB0nEGuAzY6fGWYt2igjfMOhpdDG6o3LcaoP4mITuFfe5/kCQeUb8WB3QK6c2cL7nEEPzoSniqZQ6MsxHIvUW7ts=
  file: rasterio-travis-wheels-$TRAVIS_PYTHON_VERSION.tar.gz
  on:
    tags: true
