-r requirements.txt

# development specific requirements
aiohttp
build
cython>=3.0
delocate
fsspec>=2025.9.0
hypothesis
mypy
numpydoc
packaging
pytest
pytest-cov>=2.2.0
pytest-randomly==3.10.1
requests
s3fs>=2025.9.0
shapely; python_version < "3.15" and (sys_platform != "win32" or platform_machine != "arm64")
sphinx
sphinx-click
sphinx-rtd-theme
wheel
