-r requirements.txt

# development specific requirements
aiohttp
build
cython>=3.0
delocate
fsspec
hypothesis
mypy
numpydoc
packaging
pytest
pytest-cov>=2.2.0
pytest-randomly==3.10.1
requests
shapely
sphinx
sphinx-click
sphinx-rtd-theme
wheel
